html{
  font-family: "M plus 1p", sans-serif;
  background-color: rgb(230, 230, 230);
}

h1{
  text-align: center;
  font-size: 24px;
}
.description{
  width:800px;
  text-align:center;
  font-size: 20px;
  margin: 24px auto;
}
.bubble{
  position:absolute;
  width: 150px;
  height: 150px;
}

.bubble img{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.logo{
  position: absolute;
  bottom: 20px;
  right: 20px;
  height:100px;
  width: 100px;
}

.logo img{
  mix-blend-mode: multiply;
}

img{
  width:100%;
  height:100%;
  object-fit:contain;
}

.profile{
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255,255,255,0.4) solid;
  border-bottom: 2px rgba(40,40,40,0.35) solid;
  border-right: 2px rgba(40,40,40,0.35) solid;
  flex-wrap: nowrap;
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.logo2{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
}

.moyou-container{
  position:absolute;
  right: 10px;
  top: 80px;
  width: 180px;
  height: 180px;
}

.info{
  position:absolute;
  top: 100px;
  left: 24px;
  width:280px;
}

.info h2{
  font-size: 40px;
  font-weight: 300;
  margin: 8px 0;
}

.smaller{
  font-size: 24px;
}

.info p{
  font-weight: 24px;
  font-weight: 400;
}

.card-name{
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 12px;
  text-align: right;
}


.underline{
  width:100%;
  height: 60px;
  position: absolute;
  top:0px;
  left:0px;
  border-bottom: 3px #aaa solid;
}

@keyframes flow{
  0% {
    left: 1600px; /*画面の横の長さ*/
  }
  100%{
    left: -10000px; /*コンテナの幅の-1倍 大体要素数の400倍*/
  }
}

.card-container{
  position:absolute;
  top: 120px;
  animation: 54s linear infinite running flow; /*250px/s くらいがちょうど良さそう*/
}